<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manue.gestionpunition"
    android:minSdkVersion="16"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.ChildService" />

        <activity
            android:name=".activities.PunitionActivity"
            android:label="@string/title_activity_punition" />
        <activity
            android:name=".activities.AddPunitionActivity"
            android:label="@string/title_activity_add_punition" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.manue.gestionpunition.MainActivity" />
        </activity>
    </application>

</manifest>
